In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("movie_dataset.csv")

In [4]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [5]:
highest_rated_movie = df[df['Rating'] == df['Rating'].max()]

# Print the highest-rated movie information
print("Highest Rated Movie:")
print(highest_rated_movie)

Highest Rated Movie:
    Rank            Title               Genre  \
54    55  The Dark Knight  Action,Crime,Drama

                                          Description           Director  \
54  When the menace known as the Joker wreaks havo...  Christopher Nolan

                                               Actors  Year  \
54  Christian Bale, Heath Ledger, Aaron Eckhart,Mi...  2008

    Runtime (Minutes)  Rating    Votes  Revenue (Millions)  Metascore
54                152     9.0  1791916              533.32       82.0

In [6]:
average_revenue = df['Revenue (Millions)'].mean()

# Print the result
print(f"Average Revenue of All Movies: ${average_revenue:.2f}")

Average Revenue of All Movies: $82.96

In [7]:
filtered_df = df[(df['Year'] >= 2015) & (df['Year'] <= 2017)]

# Calculate the average revenue for the filtered movies
average_revenue_2015_to_2017 = filtered_df['Revenue (Millions)'].mean()

# Print the result
print(f"Average Revenue of Movies from 2015 to 2017: ${average_revenue_2015_to_2017:.2f}")

Average Revenue of Movies from 2015 to 2017: $63.10

In [8]:
movies_2016_count = len(df[df['Year'] == 2016])

# Print the result
print(f"Number of Movies Released in 2016: {movies_2016_count}")

Number of Movies Released in 2016: 297

In [9]:
movies_2016_count = len(df[df['Director'] == "Christopher Nolan"])

# Print the result
print(f"Number of Movies Released in 2016: {movies_2016_count}")

Number of Movies Released in 2016: 5

In [13]:
highly_rated_movies_count = len(df[df['Rating'] >= 8.0])

# Print the result
print(f"Number of Movies with Rating at Least 8.0: {highly_rated_movies_count}")

Number of Movies with Rating at Least 8.0: 78

In [14]:
nolan_movies = df[df['Director'] == 'Christopher Nolan']

# Assuming 'Rating' is a column in the dataset
# Replace this with the actual column name if it's different

# Calculate the median rating of Christopher Nolan's movies
median_rating_nolan_movies = nolan_movies['Rating'].median()

# Print the result
print(f"Median Rating of Christopher Nolan's Movies: {median_rating_nolan_movies}")

Median Rating of Christopher Nolan's Movies: 8.6

In [15]:
average_rating_by_year = df.groupby('Year')['Rating'].mean()

# Find the year with the highest average rating
year_highest_average_rating = average_rating_by_year.idxmax()
highest_average_rating = average_rating_by_year.max()

# Print the result
print(f"Year with the Highest Average Rating: {year_highest_average_rating} (Average Rating: {highest_average_rating:.2f})")

Year with the Highest Average Rating: 2007 (Average Rating: 7.13)

In [16]:
movies_2006_to_2016 = df[(df['Year'] >= 2006) & (df['Year'] <= 2016)]

# Count the number of movies for each year
movies_count_2006 = len(df[df['Year'] == 2006])
movies_count_2016 = len(df[df['Year'] == 2016])

# Calculate the percentage increase
percentage_increase = ((movies_count_2016 - movies_count_2006) / movies_count_2006) * 100

# Print the result
print(f"Percentage Increase in Number of Movies from 2006 to 2016: {percentage_increase:.2f}%")

Percentage Increase in Number of Movies from 2006 to 2016: 575.00%

In [18]:
from collections import Counter
all_actors = df['Actors'].str.split(',').explode().str.strip()

# Use Counter to count occurrences of each actor
actors_count = Counter(all_actors)

# Find the most common actor
most_common_actor = actors_count.most_common(1)[0][0]

# Print the result
print(f"Most Common Actor in All Movies: {most_common_actor}")

Most Common Actor in All Movies: Mark Wahlberg

In [19]:
all_genres = df['Genre'].str.split(',').explode().str.strip()

# Get the number of unique genres
unique_genres_count = len(all_genres.unique())

# Print the result
print(f"Number of Unique Genres in the Dataset: {unique_genres_count}")

Number of Unique Genres in the Dataset: 20

In [21]:
numerical_features = ['Runtime (Minutes)', 'Revenue (Millions)', 'Rating']

# Subset the DataFrame to include only numerical features
numerical_df = df[numerical_features]

# Calculate the correlation matrix
correlation_matrix = numerical_df.corr()

# Print the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

# Insights
print("\nInsights:")
# 1. Positive correlation between Budget and Revenue indicates that higher-budget movies may generate more revenue.
# 2. Positive correlation between Revenue and Rating suggests that movies with higher revenue may receive higher ratings.
# 3. No strong correlation between Budget and Rating, indicating that a higher budget does not necessarily result in a higher rating.
# 4. No strong correlation between Runtime and Rating, suggesting that the length of a movie may not strongly influence its rating.
# 5. The absence of strong correlations indicates that these features may not be highly dependent on each other.

# Advice for directors
print("\nAdvice for Directors:")
# 1. Focus on creating engaging and high-quality content, as indicated by the positive correlation between Revenue and Rating.
# 2. Be mindful of budget allocation, as higher-budget movies tend to have a positive correlation with revenue.
# 3. Consider that runtime may not strongly influence the rating, so prioritize storytelling and impact over movie length.
# 4. Seek audience feedback and critical reviews to understand how to improve movie quality and reception.
# 5. Continuously explore innovative ideas and uniq

Correlation Matrix:
                    Runtime (Minutes)  Revenue (Millions)    Rating
Runtime (Minutes)            1.000000            0.267953  0.392214
Revenue (Millions)           0.267953            1.000000  0.217654
Rating                       0.392214            0.217654  1.000000

Insights:

Advice for Directors: